.FooterForm{
	background-color: $offbase;
	position: relative;
	.FormBlockWithHeading{
		width: 100%;
		@media(min-width: 767px){
			width: 60%;
		}
		@media(min-width: 1600px){
			width: 70%;
		}
		h2{
			color: $white;
			margin-bottom: 1.5rem;
		}
		p{
			color: $white;
			margin-bottom: 3rem;
		}
		form{
			input[type="text"],input[type="email"],textarea{
				width: 100%;
				padding: 10px;
				border: thin solid $offWhite;
				font-size: 16px;
				font-family: $secondaryFont;
				color: $offWhite;
				background-color: transparent;
				margin: 1.5rem 0;
				&:focus{
					outline: none;
				}
			}
			textarea{
				height: 75px;
			}
			input[type="submit"]{
				background-color: $base;
				color: $white;
				padding: 12px 50px;
				border: none;
				cursor: pointer;
				font-size: 16px;
				font-family: $secondaryFont;
				margin-top: 1.5rem;
				transition:box-shadow 0.2s ease-in-out;
				&:hover{
					box-shadow: #fff 0px 0px 10px;
				}
			}
		}
		&.CenterAlignForm{
			margin: 0 auto;
			h2{
				text-align: center;
			}
			p{
				text-align: center;
			}
		}
	}
}



footer{
	.TopFooter{
		position: relative;
		background-color: $deepbase;
		padding-bottom: 11rem;
		.MaxImage{
			width: 100%;
			position: absolute;
			right: 0;
			bottom: 0;
			display: flex;
			@media(min-width: 767px){
				width: 530px;
			}
			img{
				
				max-width: 100%;

			}
		}
		.FooterDetails{
			width: 100%;
			margin-bottom: 10rem;
			@media(min-width: 767px){
				width: 85%;
				margin-bottom: 0;
			}
			h5{
				font-size: 18px;
				color: $white;
				font-weight: 100;
				margin-bottom: 2rem;
				&.FollowHeads{
					color: $offWhite;
				}
			}
			p{
				color: $white;
				margin-bottom: 3rem;
				@media(min-width: 767px){
					margin-bottom: 0;
				}
				a{
					text-decoration: none;
					color: $white;
					transition: 0.2s all;
					&:hover{
						color: $offWhite;
					}
				}
			}
			.footerNav{
				padding: 0;
				list-style: none;
				margin: 0 0 4rem;
				@media(min-width: 767px){
					margin: 0;
				}
				li{
					margin-bottom: 1rem;
					a{
						font-size: 16px;
						font-family: $secondaryFont;
						color: $offWhite;
						border-bottom: thin solid $offWhite;
						text-decoration: none;
						transition: 0.2s all;
						&:hover{
							color: $white;
							border-color: $white;
						}
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.SocialButton{
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				li{
					margin-right: 1.5rem;
					a{
						border: thin solid $offWhite;
					    padding: 5px;
					    border-radius: 50px;
					    width: 30px;
					    height: 30px;
					    display: block;
					    text-align: center;
					    line-height: 1.1;
					    transition: 0.2s all;
					    img{
					    	transition: 0.2s all;
					    }
						&:hover{
							border-color: $white;
							img{
								opacity: 0.9;
							}
						}
					}
				}
			}
			.Footerlogo{
				position: relative;
				z-index: 9;
			}
		}
	}
	.DesclaimerBox{
		padding: 3.5rem 0;
		background-color: $offbase;
		text-align: center;
		h6{
			font-size: 18px;
			text-align: center;
			color: $white;
			font-family: $secondaryFont;
			font-weight: normal;
			margin-bottom: 1.3rem;
		}
		p{
			text-align: center;
			color: $white;

			line-height: 1.8;
			margin-bottom: 0;
			font-size: 14px;
		}
		.privacyPolicyLink{
			display: inline-block;
			color: $white;
			margin-top: 10px;
			font-size: 1.4rem;
			text-decoration: underline;
			opacity: 0.8;
			@include Ease(0.25s);
			&:hover{
				opacity: 1;
			}
		}
	}
	.Copyrightbox{
		background-color: $offblack;
		padding: 1rem 0;
		.CopyrightText{
			display: flex;
			align-items: center;
			justify-content: space-between;
			span{
				font-size: 14px;
				color: rgba($white, 0.5);
				font-family: $secondaryFont;
				a{
					color: $offWhite;
					text-decoration: none;
					margin-left: 0.5rem;
					font-family: $primaryFont;
					font-size: 12px;
					font-weight: 600;
				}
			}
		}
	}
}