.asideContainer{
	background-color: $white;
	ul,
	.asideInner{
		margin: 0;
		padding: 1.5rem 0;
		@media(max-width: 767px){
			margin-bottom: 1.5rem;
		}
		@media(max-width: 767px){
			padding-bottom: 2rem;
			border-bottom: 1px solid lighten($lightGrey, 10%);
		}
		>li{
			position: relative;
			overflow: hidden;
			a{
				padding: 0.7rem 0;
				display: inline-block;
				position: relative;
				color: $offbase;
				@include Ease(0.25s);
				&:hover{
					color: $base;
				}
				&.is_active{
					color: $base;
				}
				&:before{
					content: '';
					height: 1px;
					min-width: 500px;
					background-color: $lightGrey;
					position: absolute;
					left: 105%;
					top: 54%;
					// transform: translateY(-50%);
					@media all and (max-width: 991px) and (min-width: 768px){
						content: unset;
					}
				}
			}
		}
	}
}

