.ButtonWithArw{
	text-decoration: none;
	font-size: 16px;
	color: $base;
	transition: 0.3s all;
	display: inline-block;
	img{
		margin-left: 5px;
		transition: 0.3s all;
	}
	&:hover{
		color: $black;
		img{
			margin-left: 8px;
		}
	}
}

.BtnWithBorder{
	text-decoration: none;
	font-size: 16px;
	border: thin solid $white;
	padding: 10px 30px;
	color: $white;
	// margin-top: 2rem;
	transition: 0.3s all;
	display: inline-block;
	&:hover{
		border-color: rgba($white, 0.5);
		color: rgba($white, 0.5);
	}
	&.MaroonBorder{
		color: $base;
		border-color: $base;
		@include Ease(0.25s);
		&:hover{
			color: $white;
			background-color: $base;
		}
	}
	&.MTop0{
		margin-top: 0;
	}
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: $base;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 2;
}
#scroll img {
    position:absolute;
    top:35%;
    left:0;
    right: 0;
    margin: 0 auto;
    height:21px;
    width:30px;
}
#scroll:hover {
    background-color: $offblack;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}