.DesignFiveCardBlock{
	background-color: $offbase;
	position: relative;
	.Container{
		width: 100%;
		padding: 0 5rem;
		@media(max-width: 767px){
			padding: 0 15px;
		}
		.HeadingContent{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			h2{
				flex-basis: 35%;
				margin-bottom: 0rem;
				color: $white;
				@media(max-width: 767px){
					flex-basis: 100%;
					margin-bottom: 1.5rem;
				}
				@media(max-width: 344px){
					font-size: 28px;
				}
			}
			p{
				flex-basis: 65%;
				margin-bottom: 0;
				color: $white;
				@media(max-width: 767px){
					flex-basis: 100%;
				}
			}
		}
		ul{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: 0;
			margin-top: 5rem;
			margin-bottom: 0;
			list-style: none;
			@media(max-width: 767px){
				margin-top: 1rem;
				align-items: flex-end;
			}
			li{
				flex-basis: 44%;
				margin: 0 0.8rem 1rem;
				@media(min-width: 345px){
					flex-basis: 46%;
				}
				@media(min-width: 768px){
					flex-basis: 31.7%;
					margin: 0 0.8rem 2rem;
				}
				@media(min-width: 1024px){
					flex-basis: 18.9%;
				}
				@media(min-width: 1600px){
					flex-basis: 19.2%;
				}
				img{
					width: 100%;
				}
				h5{
					font-size: 15px;
					font-family: $secondaryFont;
					font-weight: 400;
					color: $white;
					text-align: center;
					margin-bottom: 0;
					margin-top: 0.5rem;
					@media(min-width: 768px){
						font-size: 17px;
						font-weight: 600;
						margin-top: 1.5rem;
					}
				}
				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					@media(min-width: 1024px){
						margin-right: 0;
					}
				}
				&:nth-child(3n){
					@media all and (max-width: 1024px) and (min-width: 768px){
						margin-right: 0;
					}
				}
				&:nth-child(2n){
					@media(max-width: 767px){
						margin-right: 0;
						position: relative;
						top: 7rem;
					}
				}
				// &.MobileOnly{
				// 	margin-top: 0;
				// 	.BtnBlock{
				// 		margin-top: 0;
				// 		.BtnWithBorder{
				// 			margin-top: 0;
				// 		}

				// 	}
				// }
			
			}
		}
		.BtnBlock{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;
			position: relative;
			@media(max-width: 767px){
				position: absolute;
				left: 60%;
				bottom: 160px;
			}
			@media(max-width: 638px){
				bottom: 150px;
			}
			@media(max-width: 500px){
				left: 55%;
				bottom: 110px;
			}
			@media(max-width: 344px){
				bottom: 90px;
			}

			.BtnWithBorder{
				@media(max-width: 344px){
					padding: 7px 15px;
				}
			}
		}
	}
}