.FourGridsWithBorder{
	padding-top: 15rem;
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 135px;
		background-color: $lightPink;
		position: absolute;
		left: 0;
		top: 0;
		@media(min-width: 768px){
			height: 185px;
		}
	}
	&.lightPinkSection{
		&:before{
			background-color: $white;
		}
	}
	.MultipleLogoSection{
		margin-top: -120px;
		background-color: $white;
		box-shadow: 0 0 10px #ccc;
		margin-bottom: 5rem;
		padding: 5rem;
		padding-bottom: 6rem;
		position: relative;
		@media(max-width: 767px){
			padding: 2.5rem 1.5rem;
		}
		
		.MainHeading{
			padding-bottom: 4rem;
			@media(max-width: 767px){
				padding-bottom: 2.5rem;
			}
			h2{
				@media(max-width: 767px){
					font-size: 2.6rem;
				}
			}
		}
	}
	.BrandsLogo{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		li{
			flex-basis: 33.333%;
			padding: 0.5rem 3rem;
			border-right: 1px solid $offWhite;
			&:last-child{
				border-right: none;
			}
			@media(max-width: 767px){
				padding: 1rem 1.5rem;
			}
		}
	}
	.GridsWithBorder{
		padding: 0;
		margin: 0;
		@media(min-width: 638px){
			display: flex;
			flex-wrap: wrap;
		}
		li{
			padding: 1.8rem 0;
			border-bottom: 1px solid rgba($grey,0.2);
			@media(min-width: 638px){
				flex-basis: 50%;
				padding: 1.8rem 3rem;
				border-right: 1px solid rgba($grey,0.2);
			}
			&:nth-child(odd){
				padding-left: 0;
			}
			&:nth-child(2n){
				border-right: none;
			}
			&:nth-last-child(-n + 2){
				@media(min-width: 638px){
					border-bottom: none;
				}
			}
			.GridsContaint{
				height: 100%;
			}
			h4{
				font-size: 20px;
				font-weight: 700;
				font-family: $secondaryFont;
				color: $offbase;
			}
			p{
				color: $offbase;
				margin-bottom: 0;
			}
		}
	}
}