.HomeBanner{
	position: relative;
	margin-bottom: 0;
	height: 95vh;
	background: url(../img/tempimg/bg.png) no-repeat;
	background-size: cover;
	width: 100%;
	@media(max-width: 500px){
		height: 80vh;
	}
	.DownloadBtn{
		text-decoration: none;
	    font-size: 13px;
	    background-color: #f47920;
	    color: #fff;
	    padding: 5px 0;
	    text-align: center;
	    width: 100%;
	    transition: 0.3s all;
	    margin-top: 0;
    	display: block;
	    @media (min-width: 768px){
			margin-top: 5rem;
			font-size: 14px;
    		display: inline-block;
    		padding: 6px 0;
	    }
	    &:hover{
	    	background-color:$base;
	    }
	}
	/*&:before{
		content: "";
		position: absolute;
		height: 100%;
		top: 32px;
		right: 0;
		z-index: -1;
	}*/
	picture{
		img{
			max-width: 100%;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 0 auto;
			z-index: 1;
			@media (min-width: 375px){
				// bottom: 35rem;
			}
			@media (min-width: 475px){
				// bottom: 33rem;
			}
			@media (min-width: 768px){
				max-width: 100%;
				bottom: 0;
				left: unset;
				margin: unset;
			}
		}
	}
	.BannerContent{
		position: absolute;
		top: 115px;
		bottom: unset;
		display: block;
		align-items: center;
		/*height: 100%;*/
		width: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		@media (min-width: 320px){
			/* top: 45%;*/
			display: block;
		}
		@media (min-width: 375px){
			/*// top: 50%;*/
		}
		@media (min-width: 475px){
			/*// top: 55%;*/
		}
		@media (min-width: 640px){
			/*// top: 50%;*/
			display: block;
		}
		@media (min-width: 768px){
			top: 25%;
		}
		@media (min-width: 1024px){
			top: 26%;
		}
		.BannerContentBlock{
			position: relative;
			width: 48%;
			margin-top: 0rem;
			&:before{
				content: '';
				position: absolute;
				width: 337px;
				height: 357px;
				border: 7px solid $white;
				top: -50px;
				left: -50px;
				z-index: 0;
				@media (max-width: 767px){
					width: 80%;
					height:290px;
					left: 15px;
					top: -40px;
				}
			}
			@media (max-width: 767px){
				width: 100%;
				padding-left:50px;
			}
			.ButtonWithArw{
				position: relative;
				z-index: 1;
			}
			h5{
				font-size: 20px;
				color: $offbase;
				font-family: $secondaryFont;
				text-transform: uppercase;
				font-weight: 400;
				position: relative;
				z-index: 1;
				margin-bottom:7px;
				a{
					font-size: 13px;
					font-weight: 500;
					font-family: $secondaryFont;
					color: $offbase;
					text-decoration: none;
					text-transform: lowercase;
					@media (min-width: 480px){
						font-size: 16px;						
					}
				}
				span{
					margin: 0 10px;
				}
			}
			
			h1{
				color: $base;
				text-transform: unset;
				font-family: $primaryFont;
				font-weight: 100;
				margin-top: 0;
				margin-bottom: 1rem;
				font-size: 20px;
				line-height: 1.6;
				position: relative;
				z-index: 1;
				@media(min-width: 375px){
					// font-size: 18px;
				}
				@media(min-width: 475px){
					// font-size: 22px;
				}
				@media(min-width: 768px){
					font-size: 35px;
					line-height: 1.2;
				}
				br{
					// display: block;
					@media (max-width: 767px){
						// display: none;
					}
				}
			}			
		}
	}
	@media(max-width: 500px){
		margin-bottom: 0;
	}
}



.HomeBanner{
	.MobileOnly{
		img{
			position: initial !important;
			max-width: 100%;
			margin-top: 2rem;
		}
	}
}