.ImageGallerySection{
	>.container{
		>.row{
			.col-md-6{
				@media(min-width: 768px){
					padding-left: 12px;
					padding-right: 12px;
				}
				
			}
			.col-md-4{
				@media(min-width: 768px){
					padding-left: 12px;
					padding-right: 12px;
				}
			}
		}
	}
	.TopHeading{
		padding-bottom: 30px;
		h2{
			color: $base;
			margin-bottom: 1.5rem;
		}
	}
	.ImageGalleryInnerRow{
		>div{
			&:first-child{
				margin-bottom: 10px;
			}
			&:last-child{
				@media(max-width: 767px){
					margin-bottom:10px;
				}
			}
		}
	}
	.ImageGalleryBox{
		position: relative;
		overflow: hidden;
		&:hover{
			.ImageGalleryOverlay{
				transform: scale(1);
				opacity: 1;
				.Icon{
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		.ImageGalleryOverlay{
			background-color: rgba(0, 0, 0, 0.74);
			@include FlexCenter;
			position: absolute;
		    top: 10px;
		    right: 10px;
		    bottom: 15px;
		    left: 10px;
		    @include Ease(0.25s);
		    transform: scale(0.3);
		    opacity: 0;
		    cursor: pointer;
			.Icon{
				width: 40px;
				height: 40px;
				fill: $white;
				@include Ease(0.5s);
				opacity: 0;
				transform: scale(0);
			}
		}
		img{
			@media(max-width: 767px){
				width: 100%;
			}
		}
		.ImageGalleryPopup{
			cursor: -webkit-zoom-in;
		}
	}
	.BtnWrap{
		padding-top: 20px;
	}
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.98;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-zoom-out-cur{
	cursor: unset !important;
}

.mfp-image-holder .mfp-close{
	cursor: pointer !important;
}