.SliderBanner{
  .InsideBanner{
    .slick-slide{
      img{
        display: block;
        width: 100%;
      }
    }
    .slick-arrow{
      width: 50px;
      height: 50px;
      background-color: $base;
      color: $offWhite;
      position: absolute;
      bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      cursor: pointer;
      z-index: 2;
      &.Slick-Prev{
        bottom: 55px;
      }
    }
  }
}

.SliderContainer {
  .SlickCarousel{
    .slick-arrow{
      /*width: 50px;
      height: 50px;
      background-color: $base;
      color: $offWhite;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;*/
    }
  }
  /*float: right;*/
}

.SliderContainer .Head .Slick-Next,
.SliderContainer .Head .Slick-Prev {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-top: 6px;
  background: #2b2b2b;
  color: #FFF;
  margin-left: 5px;
  cursor: pointer;
  font: 18px/36px FontAwesome;
  text-align: center;
  transition: all 0.5s;
}

.SliderContainer .Head .Slick-Next:hover,
.SliderContainer .Head .Slick-Prev:hover {
  background: #33687a;
}

.SliderContainer .Head .Slick-Next:before {
  content: '\f105'
}

.SliderContainer .Head .Slick-Prev:before {
  content: '\f104'
}

.SlickCarousel {
  margin: 0px;
  margin-top: 0;
}

.ProductBlock {
  padding: 0;
  img{
    width: 100%;
  }
}

.ProductBlock .img-fill {
  /*height: 500px;*/
}

.ProductBlock h3 {
  font: 15px/36px RalewayR;
  color: #393939;
  margin-top: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .25);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}