.ThreeBoxTableSection{
	/*// padding-bottom: 25rem;*/
	padding-bottom: 8rem;
	.ThreeBoxTableWrap{
		display: block;
		@media(min-width: 992px){
			display: flex;
		}
	}
	.BoxTableContainer{
		// background-color: $white;
		flex: 1;
		// box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
		z-index: 2;
		margin-bottom: 20px;
		@media(min-width: 992px){
			margin: 0;
		}
		&:nth-child(2){
			z-index: unset;
			// background-color: $white;
			@media(min-width: 768px){
				box-shadow: none;
				// background-color: transparent;
			}
		}
		&:first-child{
			ul{
				>li{
					padding-left: 0; 
				}
			}
		}
		&:last-child{
			ul{
				border-right: none;
			}
		}
		.TableHead{
			padding: 1rem 2rem;
			min-height: 80px;
			display: flex;
			align-items: center;
			.HeadingWrap{
				width: 100%;
				text-align: center;
				&.LeftAlign{
					text-align: left;
				}
			}
			h2{
				color: $base;
				font-size: 2.4rem;
				margin-bottom: 0;
				// line-height: 60px;
				@media(min-width: 1200px){
					font-size: 2.8rem;
				}
			}
		}
		ul{
			padding-left: 0;
			margin: 0;
			border-right: none;
			@media(min-width: 992px){
				border-right: 1px solid $lightGrey;
			}
			>li{
				border-bottom: 1px solid $lightGrey;
				font-size: 1.2rem;
				font-family: $secondaryFont;
				padding: 0.7rem 0;
				display: flex;
				align-items: center;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				@media(min-width: 992px){
					padding: 0.7rem 1rem;
				}
				&:first-child{
					border-top: none;
				}
				&:last-child{
					border-bottom: none;
				}
				ol{
					list-style: none;
					text-align: right;
				}
				>span{
					display: inline-block;
				}
			}
		}
		&.LeftIconList{
			ul{
				>li{
					.Icon{
						width: 30px;
						height: 30px;
						margin-right: 10px;
					}
				}
			}
		}
		&.CenterBoxTableContainer{
			.TableHead{
				h2{
					color: $white;
					background-color: $base;
					width: 60px;
					height: 60px;
					line-height: 60px;
					text-align: center;
					border-radius: 50%;
					margin: 0 auto;
				}
			}
			ul{
				>li{
					// padding: 0 1rem;
					// @media(min-width: 500px){
					//     padding: 0 2rem;
					// }
					// @media(min-width: 680px){
					// 	padding: 0 2rem;
					// }
					// @media(min-width: 768px){
					//     padding: 0 80px 0 115px;
					// }
					// @media(min-width: 1024px){
					//     padding: 0 80px 0 115px;
					// }
				}
			}
		}
		&.RightBoxTableContainer{
			.TableHead{
				background-color: $base;
				h2{
					color: $white;
				}
			}
			ul{
				>li{
					// color: $base;
					font-weight: 500;
					justify-content: space-between;
					padding-right: 0;
				}
			}
		}
	}
}