.LeftImgRightContentWithBg{
	padding: 0 1.5rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	@media(min-width: 768px){
		padding: 0 8rem;
		flex-direction: unset;
	}
	.LeftImage{
		flex-basis: 100%;
		display: block;
		width: 100%;
		@media(min-width: 768px){
			flex-basis: 50%;
			width: auto;
			display: flex;
		}
		img{
			min-height: 100%;
			width: 100%;
		}
	}
	.RightContent{
		flex-basis: 100%;
		padding: 5rem 2.5rem 3rem;
		background-color: $offbase;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		@media(min-width: 768px){
			flex-basis: 50%;
			padding: 5rem 10rem 5rem 5rem;
		}
		h2{
			color: $white;
			font-size: 25px;
			font-weight: 100;
			margin-bottom: 1.5rem;
			@media(min-width: 360px){
				font-size: 30px;
			}
			@media(min-width: 768px){
				font-size: 40px;
				margin-bottom: 2rem;
			}
		}
		p{
			color: $white;
			font-family: $secondaryFont;
			margin-bottom:2rem;
			line-height: 26px;
		}
	}
}

.NoLeftRightSpace{
	padding: 0;
	flex-direction: unset;
}