.NewsUpdateBanner{
	padding-top: 6rem;
	
	.NewsBannerContent{
		.HeadingContent{
			margin-bottom: 5rem;
			h2{
				color: $base;
			}
			p{
				line-height: 26px;
				color: $offbase;
			}
		}
		.ImageContent{
			padding: 0 0 0;
			background-color: $offbase;
			position: relative;
			.row{
				min-height: 400px;
			}
			.BannerContent{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				padding: 5rem 0 0 5rem;
				position: relative;
				@media(min-width: 768px){
					padding: 0 0 0 10rem;
				}
				@media(min-width: 1024px){
					padding: 0 0 0 10rem;
				}
				&:before{
					content:"";
					position: absolute;
					width: 250px;
					height: 250px;
					border: 10px solid rgba($offWhite, 0.3);
					left: 25px;
					top: 25px;
					z-index: 0;
					@media(min-width: 768px){
						left: 50px;
						top: 50px;
						height: 300px;
					}
				}
				h3{
					font-size: 26px;
					color: $white;
					line-height: 50px;
					font-weight: 100;
					position: initial;
					z-index: 1;
					@media(min-width: 768px){
						font-size: 25px;
					}
					@media(min-width: 1200px){
						font-size: 25px;
					}
					@media(min-width: 1600px){
						font-size: 34px;
					}
				}
			}
			.DesktopBanner{
				position: relative;
				margin-top: 5rem;
				right: 0;
				bottom: 0px;
				width: 100%;
				@media(min-width: 1200px){
					width: 100%;
					margin-top: 0;
					position: absolute;
				}
				@media(min-width: 1200px){
					width: 100%;
					margin-top: 0;
				}
				@media(min-width: 1600px){
					width: 85%;
					margin-top: 0;
				}
				
			}
		}
	}
}


.newsUpdatesWrapper {
    .newsUpdatesBanner {
        .wrapper{
        	 @media(min-width:992px){
        	 background:url('../img/tempimg/newsUpdateBanner.png') no-repeat bottom right;
        	 background-size:contain;
        	}
	        .BannerContentBlock {
	            max-width: 660px;
	            width: 100%;
	            margin-right: auto;
	            margin-bottom: 4rem;
	            h1 {
	                color: $base;
	            }
	        }
	        .bannerContent {
	            padding: 10% 5%;
	            position: relative;
	            display: flex;
	            flex-wrap: wrap;
	            align-items: center;
	            background-color: $offbase;
	            z-index: -1;
	            @media(max-width: 991px) {
	            	background:$offbase url('../img/footerimg.png') no-repeat bottom right;
	                background-size: contain;
	            }
	            h2 {
	                color: $white;
	                font-size: 3.4rem;
	                line-height: 50px;
	                font-family: $primaryFont;
	                font-weight: 400;
	                margin-left: 5%;
	                @media(max-width: 991px) {
	                    font-size: 2.4rem;
	                    margin-left: 30px;
	                }
	            }
	            @media(max-width:991px) {
	                &::before {
	                    content: '';
	                    position: absolute;
	                    left: 0;
	                    top: 0;
	                    background-color: #7e270624;
	                    width: 100%;
	                    height: 100%;
	                }
	            }
	            &::after {
	                content: '';
	                position: absolute;
	                top: 50%;
	                transform: translateY(-50%);
	                left: 50px;
	                width: 290px;
	                height: 300px;
	                border: 5px solid $white;
	                opacity: 0.2;
	                z-index: 1;
	                @media(max-width: 991px) {
	                    width: 200px;
	                    height: 80%;
	                }
	            }
	        }
        }
    }

    /*Grid Section*/
    .topHeadingBottomInfoCard {
        .innerCard {
            border: 1px solid $lightGrey;
            padding: 27px;
            height: 100%;
            @include Ease(0.25s);
            &:hover{
            	box-shadow: 0px 5px 18px rgba(0,0,0,0.11);
            	.BtnWithBorder{
					animation: shake 0.35s normal forwards ease-in-out;
            	}
            }
            span {
                color: $offWhite;
                font-family: $secondaryFont;
            }
            h3 {
                color: $base;
                font-weight: 500;
                font-size: 2.1rem;
                margin: 25px 0 18px;
            }
            p {
                color: $offbase;
                line-height: 26px;
                margin-bottom: 20px;
            }
        }
    }
}

@keyframes shake {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0);
	}
}

