.NormalSection{
	.NormalSectionContainer{
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		@media(min-width: 768px){
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
		&:first-of-type{
			padding-top: 0;
		}
		.innerRow{
			>div{
				padding-bottom: 10px;
				p{
					font-size: 1.4rem;
				}
			}
			h4{
				font-family: $secondaryFont;
			}
		}
		ul{
			padding-left: 0;
			li{
				padding: 0.5rem 0 0.5rem 3.5rem;
				position: relative;
				&:before{
					content: "";
				    width: 20px;
				    height: 2px;
				    background-color: #7e2706;
				    position: absolute;
				    left: 0;
				    top: 15px;
				}
			}
		}
		.ImageGallerySection{
			padding-top: 10px;
			>.container{
				padding: 0;
				@media(min-width: 768px){
					padding: 0 0.5rem;
				}
				>.row{
					// margin-bottom: 8px;
				}
			}
			.BtnWrap{
				padding-top: 0;
			}
		}
	}
	.NormalHeading{
		color: $base;
		font-size: 2.2rem;
		margin-bottom: 10px;
		margin-top: 4rem;
		@media(min-width: 768px){
			font-size: 3rem;
		}
		&:first-of-type{
			margin-top: 0;
		}
	}
	.imgWrap{
		margin-top: 25px;
		overflow: hidden;
		width: 100%;
		.mapouter{
			position:relative;
			text-align:right;
			// height:400px;
			width:100%;
		}
		.gmap_canvas {
			overflow:hidden;
			background:none!important;
			height:350px;
			width:100%;
			@media(min-width: 1400px){
				height:400px;
			}
			iframe{
				height: 350px;
				width: 100%;
				@media(min-width: 1400px){
					height:400px;
				}
			}
		}
		&.TwoImg{
			// display: flex;
			// flex-wrap: wrap;
			img{
				display: inline-block;
				// max-width: 320px;
				margin: 0 0 15px;
				@media(min-width: 768px){
					max-width: 190px;
					margin: 0 10px;
				}
				@media(min-width: 1024px){
					max-width: 270px;
				}
				@media(min-width: 1200px){
					max-width: 330px;
				}
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
}
