.PulseLeftImgRightContent{
	width: 100%;
	position: relative;
	min-height: auto;
	@media(min-width: 768px){
		min-height: 780px;
	}
	.col-12{
		padding: 0;
	}
	.LeftImgBox{
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
		margin-bottom: 4rem;
		@media(min-width: 768px){
			position: absolute;
		    width: 45%;
		    height: 100%;
		    margin-bottom: 0;
		}
		.BgImg{
			position: relative;
			display: block;
			min-height: 420px;
			width: 85%;
			@media(min-width: 768px){
				min-height: 670px;
			}
			&:before{
				content:'';
				position: absolute;
				background: #7E2706 url(../img/building.png) no-repeat;
				background-size: cover;
				opacity: 1;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
			img{
				max-width: 100%;
			}
		}
		.overlapImg{
			position: absolute;
			top: 5rem;
			right: 0;
			@media(max-width: 767px){
				width: 90%;
				top: 20px;
				right: 20px;
				height: 100%;
			}
			img{
				@media(max-width: 767px){
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.PulseRightContent{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-left: 0rem;
		@media(max-width: 767px){
			padding-left: 20px;
			padding-right: 20px;
		}
		.MaxPhilosophy{
			@media(min-width: 768px){
				flex-basis: 85%;
				padding-right: 10px;
			}
			h2{
				font-weight: 100;
				color: $base;
				margin-bottom: 1.5rem;
				@media(max-width: 767px){
					font-size: 3rem;
				}
				@media(max-width: 375px){
					font-size: 2.5rem;
				}
				@media(max-width: 335px){
					font-size: 2.3rem;
				}
			}
			p{
				color: $offbase;
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 1.5rem;
			}
			ul{
				padding-left: 0;
				list-style: none;
				li{
					color: $offbase;
					font-weight: 500;
					font-size: 16px;
					font-family: $secondaryFont;
					letter-spacing: 1px;
					margin: 0 0 1.5rem;
					padding-left: 35px;
					position: relative;
					&:before{
						content: '';
						width: 20px;
						height: 2px;
						background-color: $base;
						position: absolute;
						left: 0;
						top: 10px;
					}
					span{
						font-weight: 600;
					}
				}
			}
		}
		.PulseIconBox{
			@media(min-width: 768px){
				flex-basis: 15%;
			}
			span{
				display: block;
				padding: 3rem 1rem;
				background: #FFFFFF 0% 0% no-repeat padding-box;
				box-shadow: 0px 0px 10px #0000001A;
				opacity: 1;
			}
		}
	}
}