.PulseCardContainer{
	.SinglePulseCard{
		padding-top: 2.5rem;
		&.PulseGreen{
			.PulseCard{
				background-color: $englishGreen;
				.IconWrap{
					.Icon{
						fill: $englishGreen
					}
				}
			}
		}
		&.PulsePurple{
			.PulseCard{
				background-color: $purple;
				.IconWrap{
					.Icon{
						fill: $purple
					}
				}
			}
		}
		&.PulseYellow{
			.PulseCard{
				background-color: $yellow;
				.IconWrap{
					.Icon{
						fill: $yellow
					}
				}
			}
		}
		&.PulsePink{
			.PulseCard{
				background-color: $pink;
				.IconWrap{
					.Icon{
						fill: $pink
					}
				}
			}
		}
		a{
			display: block;
		}
		.PulseCard{
			display: flex;
			align-items: center;
			padding: 1.5rem 2rem;
			position: relative;
			&:before{
				content: '';
				background-image: url(../img/plus.svg);
				background-repeat: no-repeat;
				background-position: center;
			    background-size: 20px;
			    width: 30px;
			    height: 30px;
			    position: absolute;
			    top: 50%;
			    right: 15px;
			    transform: translateY(-50%);
			    @include Ease(0.25s);
			}
			&:hover{
				&:before{
					transform: translateY(-50%) rotate(90deg);
				}
			}
			.Image{
			    // padding: 0 2rem 0 0;
				// border-right: 2px solid rgba(255, 255, 255, 0.3);
				img{
					width: 55px;
				}
			}
			.IconWrap{
				width: 55px;
				height: 55px;
				border-radius: 50%;
				background-color: $white;
				@include FlexCenter;
				@include Ease(0.25s);
				.Icon{
					fill: $englishGreen;
					width: 33px;
					height: 33px;
					@include Ease(0.35s);
				}
			}
			.Head{
				font-size: 1.8rem;
			    // text-transform: uppercase;
			    color: $white;
			    font-weight: 600;
			    padding: 0 0 0 1.5rem;
			}
		}
	}
	.PulseCardContent{
		position: relative;
		padding-top: 20px;
		&.PulseGreen{
			.HeaderContent{
				background-color: $englishGreen;
				.IconWrap{
					.Icon{
						fill: $englishGreen
					}
				}
			}
			.MainContent{
				background-color: darken($englishGreen, 15%);
			}
		}
		&.PulsePurple{
			.HeaderContent{
				background-color: $purple;
				.IconWrap{
					.Icon{
						fill: $purple
					}
				}
			}
			.MainContent{
				background-color: darken($purple, 15%);
			}
		}
		&.PulseYellow{
			.HeaderContent{
				background-color: $yellow;
				.IconWrap{
					.Icon{
						fill: $yellow
					}
				}
			}
			.MainContent{
				background-color: darken($yellow, 15%);
			}
		}
		&.PulsePink{
			.HeaderContent{
				background-color: $pink;
				.IconWrap{
					.Icon{
						fill: $pink
					}
				}
			}
			.MainContent{
				background-color: darken($pink, 15%);
			}
		}
		.ClosePulseCardContent{
			position: absolute;
		    top: 30px;
		    right: 10px;
		    width: 20px;
		    height: 20px;
		    opacity: 0.7;
		    @include Ease(0.25s);
		    &:hover{
		    	opacity: 1;
		    }
		    &:before{
		    	position: absolute;
			    left: 8px;
			    content: ' ';
			    height: 20px;
			    width: 2px;
			    background-color: $white;
			    transform: rotate(45deg);
			    @include Ease(0.25s);
		    }
		    &:after{
				position: absolute;
			    left: 8px;
			    content: ' ';
			    height: 20px;
			    width: 2px;
			    background-color: $white;
			    transform: rotate(-45deg);
			    @include Ease(0.25s);
		    }
		}
		.HeaderContent{
			display: flex;
			align-items: center;
			padding: 1.5rem 2rem;
			background-color: $englishGreen;
			.IconWrap{
				width: 55px;
				height: 55px;
				border-radius: 50%;
				background-color: $white;
				@include FlexCenter;
				@include Ease(0.25s);
				.Icon{
					fill: $englishGreen;
					width: 33px;
					height: 33px;
					@include Ease(0.35s);
				}
			}
			.Head{
			    color: $white;
			    font-weight: 400;
			    font-size: 1.6rem;
			    padding: 0 0 0 1.5rem;
			    font-family: $secondaryFont;
			    .Title{
			    	text-transform: uppercase;
			    	font-size: 2rem;
			    	font-weight: 600;
			    }
			}
		}
		.MainContent{
			margin-top: -1px;
			padding: 2rem;
			color: $white;
			background-color: darken($englishGreen, 15%);
			ol{
				margin: 0;
    			padding-left: 20px;
    			li{
				    color: $white;
				    border: 0;
				    margin: 0;
				    padding: 0 0 1rem 1rem;
				    font-family: $secondaryFont;
				    @include Ease(0.25s);
    			}
			}
		}
	}
}
