.RightImgLeftContent{
	width: 100%;
	position: relative;
	display: block;
	align-items: center;
	min-height: auto;
	@media(min-width: 767px){
		display: flex;
		min-height: 462px;
	}
	@media (min-width: 1300px){
		min-height: 620px;
	}
	@media (min-width: 1600px){
		min-height: 620px;
	}
	.LeftContentBlock{
		padding-right: 0;
		@media(min-width: 768px){
			padding-right: 5rem;
		}
		h2{
			color: $base;
			font-weight: 100;
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			line-height: 1;
			@media(min-width: 768px){

			}
			img{
				width: 30%;
			}
			span{
				margin-left: 3rem;
				margin-top: 1.5rem;
				font-size: 25px;
				position: relative;
				@media(min-width: 360px){
					font-size: 30px;
				}
				@media(min-width: 768px){
					font-size: 35px;
				}
				&:before{
					content: "";
					position: absolute;
					left: -15px;
					top: -5px;
					width: 1px;
					height: 35px;
					background-color: rgba($base,0.2);
				}
			}
		}
		p{
			line-height: 1.5;
			margin: 1rem 0;
			br{
				display: none;
				@media(min-width: 768px){
					display: block;
				}
			}
		}
		.FounderBlock{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 2rem;
			margin-top: 2rem;
			.FounderIcon{

			}
			.FounderText{
				margin-left: 2rem;
				h4{
					font-size: 22px;
					color: $base;
					line-height: 1;
					font-weight: 100;
					@media(min-width: 768px){
						font-size: 30px;
					}
				}
				span{
					font-size: 16px;
					font-family: $secondaryFont;
					color: $offbase;
					font-weight: 100;
				}
			}
		}
	}
	.RightImgBox{
		width: 100%;
		height: 100%;
		position: relative;
		margin-top: 20px;
		@media(min-width: 768px){
			position: absolute;
			width: 50%;
			top: 0;
			right: 0;
			margin-top: 0;
		}
		img{
			width: 100%;
			@media(max-width: 767px){
				height: auto !important;
			}
		}
		.FourImg{
			display: flex;
			flex-wrap: wrap;
			.ImgBlock{
				flex-basis: 50%;
				img{
					object-fit: cover;
					width: 100%;
    				height: 100%;
				}
			}
		}
	}
}