.RightImgWithIconContent{
	margin-top: 0rem;
	min-height: auto;
	padding: 3rem 0;
	position: relative;
	@media(min-width: 767px){
		padding: 0;
		margin-top: 6rem;
		min-height: 600px;
	}
	@media (min-width: 1600px){
		min-height:785px;
	}
	.RightImgBox{
		width: 100%;
		margin-top: 3rem;
		@media(min-width: 767px){
			width: 44%;
			margin-top: 0;
		}
	}
	.LeftContentBlock{
		margin-top: 0rem;
		@media(min-width: 767px){
			margin-top: -5rem;
		}
		.LeftIconBlock{
			
			.col-6{
				.TopIconBottomText{
					margin-top: 2rem;
					span{
						position: relative;
						width: 60px;
						height: 60px;
						background-color: $base;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50px;
					}
					h5{
						font-size: 18px;
						margin-top: 1.5rem;
						font-family: $secondaryFont;
						color: $offbase;
					}
					p{
						font-size: 14px;
						margin-bottom: 0;
					}

				}
				&:nth-child(even){
					.TopIconBottomText{
						span{
							background-color: $offbase;
						}						
					}
				}
			}
		}
	}
	.FloatingImage{
		position: absolute;
		right: 0;
		bottom: 25%;
		width: 180px;
		z-index: 1;
		@media(min-width: 768px){
			width: 400px;
			bottom: -43%;
		}
		@media (min-width: 1600px){
			bottom: -32%;
		}

	}
}