.Section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media screen and (min-width: 768px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}


.SmallContainer {
  max-width: 971px;
  @media (max-width: 768px) {
  	max-width: 100%;
  }
}

.SectionBottom5{
	padding-bottom: 2rem;
	@media(min-width: 768px){
		padding-bottom: 5rem;
	}
}
