* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
}
body {
  font: 400 16px/1.4 $primaryFont;
  color: $black;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
  padding: 0;
  margin: 0;
	// overflow: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family : $secondaryFont;
}

a{
  font-family :$secondaryFont;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  @media(min-width: 768px){
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6{
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a{
  text-decoration: none;
  color: $base;
}

ul{
  list-style: none;
}

.DesktopOnly{
  display: none !important;
  @media (min-width: 768px) {
      display: block  !important;
    }
}

.MobileOnly{
  @media (min-width: 768px) {
      display: none !important;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.MainHeading{
  text-align: center;
  padding-bottom: 2.5rem;
  @media(min-width: 768px){
    padding-bottom: 3rem;
  }
  &.PBottom22{
    padding-bottom: 2.2rem;
  }
  h2{
    margin-bottom: 0;
    font-weight: 100;
    color: $base;
  }
  p{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 0;
    line-height: 1.6;
    &:first-of-type{
      margin-top: 1rem;
    }
  }
  &.LeftAlign{
    text-align: left;
  }
  &.LeftRightHeadind{
    max-width: 100%;
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    @media(min-width: 768px){
      display: flex;
    }
    .LeftPart{
      
      flex: 0 0 65%;
      @media(min-width: 768px){
        text-align: left;
      }
      h2{
        margin: 0;
      }

    }
    .RightPart{
      padding-top: 15px;
      @media(min-width: 768px){
        padding-bottom: 5px;
        padding-top: 0;
      }
    }
  }
}

.MBottom2{
  margin-bottom: 2rem;
}
.MBottom3{
  margin-bottom: 3rem;
}

.PTop12px{
  padding-top: 12px;
}

.PBottom25{
  padding-bottom: 25rem;
}
.PBottom22{
  padding-bottom: 22rem;
}
.PBottom20{
  padding-bottom: 20rem;
}

.Section{
  &.PBottom25{
    padding-bottom: 25rem;
  }
  &.PBottom22{
    padding-bottom: 22rem;
  }
  &.PBottom20{
    padding-bottom: 20rem;
  }
}

.lightPinkSection{
  background-color: $lightPink;
}

.WhiteSection{
  background-color: $white;
}