$base : #7E2706;
$offbase: #483735;
$darkBase: #3C312F;
$deepbase : #382E2C;
$black: #000;
$offblack: #1F1918;
$lightBlack: #191818;
$white: #fff;
$offWhite: #999999;
$grey: #666666;
$darkGrey: #333333;
$lightGrey: #ccc;
$lightPink: #FDF1E8;
$graySection: #F5F4F7;
$purple: #6c0c68;
$pink: #EF2F6D;
$yellow: #fcb041;
$englishGreen: #65c7c3;

$primaryFont: 'Libre Baskerville', serif;
$secondaryFont: 'Lato', sans-serif;