@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/*@font-face {
	font-family: 'ZapfHumanist601BT-Roman';
	src: url('../fonts/ZapfHumanist601BT-Roman.eot');
	src: local('☺'), url('../fonts/ZapfHumanist601BT-Roman.woff') format('woff'), 
	url('../fonts/ZapfHumanist601BT-Roman.otf') format('truetype'), 
	url('../fonts/ZapfHumanist601BT-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}*/