.ContactUsForm{
	.RegisterYourself{
		.MainHeading{
			text-align: left;
		}	
		.FormSection{
			margin-top: 0rem;
			form{
				input[type="text"],input[type="email"],textarea{
					width: 100%;
					padding: 10px;
					border: thin solid rgba($offWhite,0.2);
					font-size: 16px;
					font-family: $secondaryFont;
					margin-top: 1.5rem;
					color: $offWhite;
					&:focus{
						outline: none;
					}
				}
				textarea{
					height: 80px;
				}
				input[type="submit"]{
					background-color: $base;
					color: $white;
					padding: 12px 50px;
					border: none;
					cursor: pointer;
					font-size: 16px;
					font-family: $secondaryFont;
					margin-top: 1.5rem;
					transition:box-shadow 0.2s ease-in-out;
					&:hover{
						box-shadow: $base 0px 0px 10px;
					}
				}
			}
		}	
	}
	.ContactInfo{
		background-color: $offbase;
		padding: 4rem;
		@media all and (max-width: 991px) and (min-width: 768px){
			padding: 4rem 1.5rem;
		}
		h3{
			font-size: 24px;
			color: $white;
			font-weight: 100;
		}
		.details{
			padding: 0;
			margin-bottom: 0;
			margin-top: 2rem;
			li{
				margin-top: 2rem;
				h4{
					color: $white;
					font-size: 16px;
					font-family: $secondaryFont;
				}
				p{
					margin-bottom: 0;
					color: $white;
					word-break: break-word;
					a{
						text-decoration: none;
						color: $white;
					}
				}
				.SocialButton{
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					li{
						margin-right: 1.5rem;
						margin-top: 0.5rem;
						a{
							border: thin solid $offWhite;
						    padding: 5px;
						    border-radius: 50px;
						    width: 30px;
						    height: 30px;
						    display: block;
						    text-align: center;
						    line-height: 1.1;
						    transition: 0.2s all;
						    img{
						    	transition: 0.2s all;
						    }
							&:hover{
								border-color: $white;
								img{
									opacity: 0.9;
								}
							}
						}
					}
				}
			}
		}
	}
}